= render partial: "groups/side_bar", locals: {groups: @groups}
.chat
  .chat__info
    .chat__info__left
      .chat__info__left__title
        = @group.name
      .chat__info__left__members
        Member:
        - @group.users.each do |user|
          %li.chat__info__left__members__user
            = user[:name]
    =link_to edit_group_path(params[:group_id]), class: "chat__info__right"  do
      .chat__info__right__edit<>Edit
  .chat__main
    = render @messages
  .chat__form
    =form_for [@group, @message], html:{class: "chat__form__box"} do |f|
      =f.text_field :body, class: 'chat__form__box__message', placeholder: 'type a message'
      .chat__form__box__input
        = f.label :image, class: 'chat__form__box__input__image' do
          =fa_icon "picture-o", class: "chat____form__box__input__icon fa-lg"
          = f.file_field :image, class: 'chat__form__box__input__file'
      = f.submit 'Send', class: 'chat__form__box__send'
